.mt-10{
    margin-top: 100px;
}

body{
    background-color: #afd9ee;
}

ul{
    list-style: none;
}

.inactive{
    color: #bbbbbb;
}

.inactive:hover{
    color: antiquewhite;
}

li>a{
    text-decoration: none;
}
a{
    cursor: pointer;
}

.show{
    display: block;
}