{% extends 'base.html' %}


{% block title %}login{% endblock %}

{% block body %}

 <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-10" style="margin-top: 100px;">
                <div class="text-center">Login</div>
                <form class="col-md-6 offset-md-3 mt-3" method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    <input type="text" class="form-control mt-2" id="exampleInputUsername" name="username" placeholder="Username">
                    {{ login_form.username.errors}}
                    <input type="password" class="form-control mt-2" id="exampleInputPassword" name="password" placeholder="Password">
                    {{ login_form.password.errors}}
                    {{ message }}
                    <button type="submit" class="btn btn-primary mt-2 col-md-12">send</button>
                </form>

        </div>
            </div>


    </div>
{% endblock %}