{% extends 'base.html' %}

{% block title %} register {% endblock %}

{% block body %}
  <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-10" style="margin-top: 100px;">
                <div class="text-center">please Enter your phone number</div>
                <form class="col-md-6 offset-md-3 mt-3" method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <input type="text" class="form-control mt-2" id="exampleInputFirstname" name="first_name" placeholder="Firstname">
                    <input type="text" class="form-control mt-2" id="exampleInputLastname" name="last_name" placeholder="Lastname">
                    <input type="text" class="form-control mt-2" id="exampleInputUsername" name="username" placeholder="Username">
                    {{ userform.username.errors }}
                    <input type="text" class="form-control mt-2" id="exampleInputPhoneNumber" name="phone_number" placeholder="PhoneNumber">
                    {{ userform.phone_number.errors}}
                    <input type="password" class="form-control mt-2" id="exampleInputPassword" name="password" placeholder="Password">
                    {{ userform.password.errors}}
                    <button type="submit" class="btn btn-primary mt-2 col-md-12">send</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}